*~
*#
TAGS

*.py[cod]

# C extensions
*.so
*.o

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.tox
coverage.xml

# Translations
*.mo

# ide
.idea

# docs
_build
_template

#sonarqube
.scannerwork
