*~
*#
TAGS

*.py[cod]

# C extensions
*.so
*.o

# Packages
*.egg
*.egg-info
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
