clarifai-grpc>=10.8.7
clarifai-protocol>=0.0.6
numpy>=1.22.0
tqdm>=4.65.0
tritonclient>=2.34.0
rich>=13.4.2
PyYAML>=6.0.1
schema==0.7.5
Pillow>=9.5.0
inquirerpy==0.3.4
tabulate>=0.9.0
protobuf==5.27.3
fsspec==2024.6.1
