autoflake==1.2
coverage>=3.7
isort==4.3.4
mock>=2.0
ndg-httpsclient>=0.4
parameterized>=0.6
pylint==1.5.1  # Keep this version as later ones don't currently work.
pytest==3.8.1
pytest-cov==2.6.0
pytest-xdist==1.23.2
responses>=0.5
yapf==0.22.0
