body {
    font-family: -apple-system,system-ui,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.stDataFrame {
    font-family: -apple-system,system-ui,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

button {
    color: #fff;
    background-color: #006dff;
    border-color: transparent;
    font-size: 12.25px;
}

.stButton>button {
    color: #fff;
    background-color: #006dff;
    border-color: transparent;
    border-radius: 9.8px;
}

.stButton>button:hover,
.stButton>button:focus,
.stButton>button:focus:not(:active),
.stButton>button:active
{
    color: #fff;
    border-color: transparent;
    box-shadow: none !important;
    background-color: #356dff;
}



.stNumberInput>div>div>button {
    color: #fff;
    background-color: #006dff;
    border-color: transparent;
}
.stNumberInput>div>div>button:hover,
.stNumberInput>div>div>button:hover:enabled,
.stNumberInput>div>div>button:focus,
.stNumberInput>div>div>button:focus:enabled,
.stNumberInput>div>div>button:focus:not(:active),
.stNumberInput>div>div>button:active
{
    color: #fff;
    border-color: transparent;
    box-shadow: none !important;
    background-color: #356dff;
}


div[data-testid="stFileUploader"]>section>button {
    color: #fff;
    background-color: #006dff;
    border-color: transparent;
    border-radius: 9.8px;
}
div[data-testid="stFileUploader"]>section>button:hover,
div[data-testid="stFileUploader"]>section>button:hover:enabled,
div[data-testid="stFileUploader"]>section>button:focus,
div[data-testid="stFileUploader"]>section>button:focus:enabled,
div[data-testid="stFileUploader"]>section>button:focus:not(:active),
div[data-testid="stFileUploader"]>section>button:active
{
    color: #fff;
    border-color: transparent;
    box-shadow: none !important;
    background-color: #356dff;
}




.st-bt {
    background-color: #fff;
}


.stTextInput>div>div>input {
    color: #4F8BF9;
    background-color: #fff;
    border-radius: 9.8px;
    border-color: transparent;
}

div[data-baseweb="base-input"] {
    color: #4F8BF9;
    background-color: #fff;
    border-radius: 9.8px;
    border-color: transparent;
}


footer {
    display: none !important;
    color: #FFF !important;
}



div[data-testid="stDecoration"] {
    display: none !important;
    background-image: none;
}

section[data-testid="stSidebar"] {
    display: none !important;
    background-image: none;
}
